body {
    background-color: rgb(0, 0, 57);
    width: 90vw;
    min-height: 100%;
}

h1 {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Goudy Bookletter 1911", sans-serif;
}

